{% comment %} Post form for new and edit post actions{% endcomment %}
{% load widget_tweaks %}
<div class="container">
    <h1>{{ title }}</h1>
    <form action="{% if post %}{% url form_url post.slug %}{% else %}{% url form_url %}{% endif %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Post title:</h3>
        {% render_field form.title class="form-control mb-2" placeholder="Enter post title" %}
            <h3>Post content:</h3>
            {% render_field form.content class="form-control mb-2" placeholder="Enter post content" %}
                <h3>Post image:</h3>
                {% render_field form.img class="form-control mb-2" placeholder="Upload an image" %}
                    <div class="mb-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
