{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  {{ month|title }} challenge
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}" />
  <link rel="stylesheet" href="{% static 'challenges/snippets/header.css' %}" />
{% endblock %}

{% block content %}
  {% include 'challenges/snippets/header.html' %}
  <h1>{{ month|title }} challenge</h1>
  {% if text is not None %}
    <h2>{{ text }}</h2>
  {% else %}
    <p class="fallback">There is no challlenge for this month.</p>
  {% endif %}
{% endblock %}
