{% extends 'default_page.html' %}
{% load static %}

{% block page_title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col text-center">
        <h1 class="display-4">{{ post.title }}</h1>
        {% if post.published_date %}
          <p class="lead">Published on {{ post.published_date|date:'F j, Y' }}</p>
        {% endif %}
        {% if post.author %}
          <p class="lead">
            Authored by: <a href="{% url 'author' post.author.first_name %}">{{ post.author.first_name }}</a>
          </p>
        {% endif %}
        {% if captions %}
          <p class="lead">Tags: {{ captions }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card mx-auto" style="max-width: 800px;">
          {% if post.image %}
            <img src="{% static 'blog/images/'|add:post.image %}" class="card-img-top" alt="{{ post.title }}" />
          {% endif %}
          <div class="card-body">
            <p class="card-text">{{ post.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
