{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
  <div class="form-container">
    <h1 class="form-header">Welcome to the Profiles Home Page</h1>
    <p>This is the home page for the profiles app.</p>
    <div class="form-inner">
      {% for profile in profiles %}
        <div>
          <img src="{{ profile.user_image.url }}"
               alt="Profile Image"
               class="profile-img" height="100%" width="100%" />
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
