header {
  width: 100%;
  height: 5rem;
  background-color: grey;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

header nav a:hover {
  color: #007BFF;
}