{% extends 'reviews/base.html' %}
{% load static %}

{% block title %}
  Reviews
{% endblock %}

{% block content %}
  <section class="reviews-list-container">
    <div class="feedback-form-header reviews-list-header">
      All Reviews
      <span class="close">×</span>
    </div>
    <div class="reviews-list">
      {% if reviews %}
        <div class="reviews-grid">
          {% for review in reviews %}
            {% include 'reviews/snippets/detail_card.html' with review=review show_link=True truncate_length=100 %}
          {% endfor %}
        </div>
      {% else %}
        <div class="feedback-form-panel">No reviews yet.</div>
      {% endif %}
    </div>
    <div>
      <a href="{% url 'review' %}">Leave a review</a>
    </div>
  </section>
{% endblock %}
