{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your review</title>
    <link rel="stylesheet" href="{% static 'reviews/form.css' %}" />
  </head>
  <body>
    <div class="feedback-form-container">
      <div class="feedback-form-header">
        Feedback Form
        <span class="close">×</span>
      </div>
      <div class="feedback-form-panel">
        <strong>Send us your feedback!</strong>
        <div class="panel-sub">Do you have a suggestion or found some bug? let us know in the field below.</div>
      </div>
      <div class="feedback-form-inner">
        <form class="feedback-form" method="POST" novalidate>
          {% csrf_token %}
          {% for field in form %}
            <div class="field-row">
              {% if field.name != 'rating' %}
                {{ field.label_tag }} {{ field }}
              {% else %}
                <label for="{{ field.0.id_for_label }}">{{ field.label }}:</label>
                <div class="rating-row">
                  {% for subwidget in field %}
                    <div class="rating-item">
                      {{ subwidget.tag }}
                      <div class="rating-label">{{ subwidget.choice_label }}</div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% comment %}backup server-side validation error provision{% endcomment %}
            {% for error in field.errors %}
              <div class="error">{{ error }}</div>
            {% endfor %}
          {% endfor %}
          <button type="submit">Send Feedback</button>
        </form>
      </div>
    </div>
    <script src="{% static 'reviews/review_form.js' %}"></script>
  </body>
</html>
