{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your review</title>
    <script src="{% static 'reviews/review_form.js' %}"></script>
  </head>
  <style>
    input:invalid,
    textarea:invalid,
    select:invalid {
      border: 2px solid #e74c3c;
      background-color: #fceaea;
    }
  </style>
  <body>
    <form method="POST" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div style="margin-bottom: 1rem;">{{ field.label_tag }} {{ field }}</div>
        {% for error in field.errors %}
          <div style="margin-bottom: 1rem;" class="error">{{ error }}</div>
        {% endfor %}
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
