{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Users{% endblock title %}

{% block content %}
<header>
    <div class="countdown__header">1:00</div>
</header>
    <h1>Users</h1>
   <div class="tile_layout">
       
           {% for user in users %}
               <div class="tile"><a href="{% url "user_detail" user.id %}">{{ user }}{% if user.image %}<img src="{{ user.image.url }}" alt="{{ user }}" class="user-image">{% endif %}</a></div>
           {% empty %}
               <div class="tile">No users found.</div>
           {% endfor %}
   </div>
{% endblock content %}

{% block script %}
<script src="{% static 'portal/js/portal_scripts.js' %}"></script>
{% endblock script %}