{% extends 'book_outlet/base.html' %}
{% block title %}
  All books
{% endblock %}
{% block content %}
  <p>Total stats: {{ average_rating.rating__avg|floatformat:1 }} - {{ book_count }}</p>

  <ul>
    {% for book in books %}
      {% if book.slug %}
        <li>
          <a style="text-decoration: none;" href="{{ book.get_absolute_url }}">{{ book.title }}</a> (Rating:{{ book.rating }})
        </li>
      {% else %}
        <li>{{ book.title }} (No detail page: missing slug)</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
